# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.metadata

# Android
android/.gradle/
android/local.properties
*.apk
*.aab

# iOS / macOS
ios/Pods/
ios/Flutter/Generated.xcconfig
macos/Pods/

# Node / Web
node_modules/
dist/

# Windows
windows/flutter/ephemeral/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
